<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <form action="/user/login" method="post">
        <h1>login </h1>
        <label for="email">email Address</label>
        <input type="text" placeholder="Enter email address" required name="email">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Your Password" required name="password">

        <button type="submit">login</button>
    </form>

</body>

</html>